/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html {
    background: #eee;
}
body {
    margin: 0 auto;
}

body, html {
    height: 100%;
}